@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    &nbsp;
    <p>Beltek - Öğrenci ve Öğretmen İşlemleri Projesi</p>

    <a asp-controller="Ogrenci" asp-action="OgrenciListele" class="btn btn-primary" role="button">Öğrenci İşlemleri</a>  <a asp-controller="Ogretmen" asp-action="OgretmenListele" class="btn btn-primary" role="button">Öğretmen İşlemleri</a>
</div>
